@font-face {
    font-family: 'my-font';
    font-display: block;
    font-weight: normal;
    font-style: normal;
    font-display:auto;
    src: url('/fonts/FZFengYKSJ.TTF');
    /* src: url('./FZFengYKSJ.TTF'); */
}  
    
   
